.main-container {
  /* background-image: url('background.jpg'); */
  background-position: bottom;
  background-color: #43c691;
  background-size: cover;
  max-width:85vw;
  min-height: 90vh;
  border-radius: 50px;
  margin-top: 3vh;
  border: #6fe1b0 10px solid;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

h1 {
  font-size: 55px;
  max-width: 850px;
  font-family: Euclid Circular A Bold;
}

.promo {
  font-size: 60px;
  color: #3c3c3c;
  font-weight: bold;
  padding-right: 30px;
  font-family: Euclid Circular A Bold;
}

.content {
  display: flex;
  align-items: center;
}

.button, .buttons {
  background: #fff;
  border-radius: 30px;
  padding: 15px 40px;
  color: #4D4D4D;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
}

.button:hover, .button:hover {
  background: #d9400e;
  color: #fff;
  box-shadow: 0px 1px 30px #eaeaea;
}

.main-text {
  font-style: normal;
  font-size: 24px;
  width: 100%;
  max-width: 650px;
}

.download {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.android {
  padding-right: 20px;
}

.attention {
  color: #f00050;
  font-family: Euclid Circular A Bold;
}

@media screen and (max-width: 740px) {
   .container {
     width: 90%;
     padding: 10px 0;
 }
  .content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      min-width: 315px;
  }

  .copy {
      margin-top: 30px;
      margin-bottom: 20px;
  }

  h1 {
      font-size: 33px;
  }

  .promo {
      font-size: 44px;
  }

  .button {
      font-size: 19px;
  }

  .buttons {
    font-size: 18px;
    padding: 10px 30px;
}

.download {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

  .main-text {
      font-size: 18px;
      font-weight: bolder;
  }
}