.main-container {
  background: url('pattern.png'), -moz-linear-gradient(bottom right, #38a67a, #28e1b9);
	background: url('pattern.png'), linear-gradient(to bottom right, #38a67a, #28e1b9);
  max-width:85vw;
  /* min-height: 90vh; */
  min-width: 130px;
  border-radius: 50px;
  margin-top: 3vh;
  border: #6fe1b0 10px solid;
  margin-bottom: 4vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

h1 {
  font-size: 55px;
  line-height: 65px;
  max-width: 860px;
  font-family: Euclid Circular A Bold;
}

.promo {
  font-size: 70px;
  color: #3b290a;
  font-weight: bold;
  padding: 0px 10px;
  font-family: Euclid Circular A Bold;
  border: #01668d 3px dashed;
  background-color: #e1c528;
  border-radius: 10px;
}

.promo:hover {
  background-color: #efdc71;
}

.content {
  display: flex;
  align-items: center;
}

.copy {
  margin-top: 30px;
  margin-bottom: 20px;
}

.button {
  background: #fff;
  border-radius: 5px;
  padding: 15px 50px 18px 50px;
  margin-left: 30px;
  color: #4D4D4D;
  font-weight: 500;
  font-size: 28px;
  cursor: pointer;
}

.buttons {
  background: #4d4d4d;
  border-radius: 11px;
  padding: 15px 30px 18px 30px;
  color: #d5ba91;
  font-weight: 500;
  font-size: 28px;
  cursor: pointer;
}

.button:hover, .buttons:hover {
  background: #d9400e;
  color: #ffffff;
  box-shadow: 0px 1px 30px #eaeaea;
}

.radius {
  border-radius: 50px !important;
}

.main-text {
  font-style: normal;
  font-size: 24px;
  width: 100%;
  max-width: 650px;
}

.download {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 4vh;
}

.ios {
  padding-right: 30px;
}

.bank {
  margin-top: 20px;
}

.attention {
  color: #b50202;
  font-family: Euclid Circular A Bold;
}

.now {
  color: #01668d;
  font-family: Euclid Circular A Bold;
}



@media screen and (max-width: 860px) {
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
  }
  
  h1 {
    font-size: 45px;
    line-height: 55px;
    max-width: 840px;
    font-family: Euclid Circular A Bold;
  }
  
  .promo {
    font-size: 60px;
    color: #3b290a;
    font-weight: bold;
    padding-right: 30px;
    font-family: Euclid Circular A Bold;
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .button {
    background: #fff;
    border-radius: 5px;
    padding: 15px 50px 18px 50px;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 28px;
    cursor: pointer;
  }
  
  .buttons {
    background: #474747;
    border-radius: 50px;
    padding: 15px 40px 15px 40px;
    color: #d5ba91;
    font-weight: 500;
    font-size: 28px;
    cursor: pointer;
  }
  
  .button:hover, .buttons:hover {
    background: #d9400e;
    color: #ffffff;
    box-shadow: 0px 1px 30px #eaeaea;
  }
  
  .main-text {
    font-style: normal;
    font-size: 24px;
    width: 100%;
    max-width: 650px;
  }
  
  .download {
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .ios {
    padding-right: 30px;
  }
  
  .attention {
    color: #b50202;
    font-family: Euclid Circular A Bold;
  }
  
  .now {
    color: #01668d;
    font-family: Euclid Circular A Bold;
  }
}


@media screen and (max-width: 780px) {
  .main-container {
    margin-top: 2vh;
  }
   .container {
     width: 90%;
     padding: 10px 0;
 }
  .content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      min-width: 315px;
  }

  .copy {
      margin-top: 30px;
      margin-bottom: 20px;
  }

  h1 {
      font-size: 33px;
      line-height: 40px;
  }

  .promo {
      font-size: 44px;
      padding: 0px 0px;
  }

  .button {
      font-size: 22px;
      margin-left: 0px;
      padding: 10px 50px 13px 50px;
  }

  .buttons {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 11px;
}

  .ios {
    padding-right: 15px;
    margin-top: 3px;
  }

  .download {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .main-text {
    font-size: 18px;
    font-weight: bolder;
  }
}

@media screen and (max-width: 400px) {

  h1 {
    font-size: 28px;
    line-height: 32px;
}
  .container {
    width: 90%;
    padding: 0px 0;
}
.button {
  font-size: 22px;
  margin-left: 0px;
  padding: 10px 30px 13px 30px;
}
  .buttons {
    font-size: 18px;
    padding: 12px 10px;
    border-radius: 11px;
}
  .promo {
    font-size: 38px;
    padding: 0px 0px;
  }
}