@font-face {
    font-family: "Euclid Circular A Bold";
  src: url("font/EuclidCircularA-Bold.woff") format("woff"),
       url("font/EuclidCircularA-Bold.woff2") format("woff2")
 }

 @font-face {
    font-family: "Euclid Circular A Medium";
    src: url("font/EuclidCircularA-Medium.woff") format("woff"),
         url("font/EuclidCircularA-Medium.woff2") format("woff2")
   }
 
 body {
     height: 100%;
     width: 100%;
     margin: 0;
     font-family: Euclid Circular A Medium;
     color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     flex-wrap: nowrap;
 }
 
 a {
     text-decoration: none;
 }